    'boto3',
    'cartopy',
    'fastkml',
    'geopandas',
    'matplotlib',
    'metpy',
    'numpy',
    'pandas',
    'pyproj',
    'rioxarray',
    's3fs',
    'scipy',
    'shapely',
    'siphon',
    'synopticpy',
    'tables',
    'xarray',
    'zarr'

    # also need pydata theme